$grid-breakpoints: (
  'xs': 0,
  'sm': 576px,
  'md': 768px,
  'lg': 992px,
  'xl': 1200px,
  'xxl': 1400px,
);

$container-widths: (
  'xs': 100%,
  'sm': 540px,
  'md': 720px,
  'lg': 960px,
  'xl': 1140px,
  'xxl': 1320px,
);

@mixin media-breakpoint-up($grid-breakpoint) {
  @media only screen and (min-width: map-get($grid-breakpoints, $grid-breakpoint)) {
    @content;
  }
}

.container {
  padding: 0 0.75rem;
  width: 100%;
  z-index: 30;

  @include media-breakpoint-up('sm') {
    padding: 0;
    max-width: map-get($container-widths, 'sm');
    margin: 0 auto;
  }

  @include media-breakpoint-up('md') {
    max-width: map-get($container-widths, 'md');
  }

  @include media-breakpoint-up('lg') {
    max-width: map-get($container-widths, 'lg');
  }

  @include media-breakpoint-up('xl') {
    max-width: map-get($container-widths, 'xl');
  }

  @include media-breakpoint-up('xxl') {
    max-width: map-get($container-widths, 'xxl');
  }
}
